# Should not commit Node modules, env files or other keys
**/node_modules/
**/.env
**/public.key
**/private.key

# Plugin folders
.vscode/
/.VSCodeCounter

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn.lock

# Expo
**/.expo
**/.next


# Should not commit build outputs
# api
**/dist/

# api-types
v*.js
v*.d.ts

**/utils/**/*.js
**/utils/**/*.d.ts

**/types/**/*.js
**/types/**/*.d.ts
